<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drove Rotas|Login|Seja bem-vindo</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <div class="bandeirinhas">
      <a href="index.html"><img src="../img/brazil.png" alt="Bandeira do Brasil" width="35px"></a>
      <a href="/loginEng.html"><img src="../img/usa.png" alt="Bandeira do  Estados Unidos" width="35px"></a>
       <a href="#"><img src="../img/espanha.png" alt="Bandeira da Espanha" width="35px"></a>
    </div><!--Fim bandeirinhas-->

  <div class="corpoSite">
    <div class="Logo">
      <a href="/">
      <img src="../img/Logo horizontal(fundo tranparente).png" alt="Logo Drove Rotas" width="300px">
      </a>
    </div>

    
    <div class="Form">

      <h1>Acesse sua conta:</h1>
      <h2>Gerencie suas rotas, viagens e informações de forma rápida e segura.</h2>
      <form id="loginForm">
       
        <input type="text" id="email" placeholder="E-mail" required>
       
        <input type="password" id="senha" placeholder="Senha" required>
       
        
        <button type="submit" class="entrar">Entrar</button>
      </form>
      <!--O "type="submit" serve para enviar o formulário, ele coleta as informações digitadas, por exemplo: a senha e o e-mail do usuário."-->
      
      <a href="recuperarSenha.html">Esqueceu a senha?</a>
      
    </div><!--Fim de form-->

    <div class="criarConta"><a href="#" class="criarConta">Criar uma conta</a></div><!--Fim criar conta-->

    <div class="entregas"><img src="../img/Truck.png" class="caminhao"><a href="#" class="entregasLogin">Drove Rotas para entregadores</a></div><!--Fim entregas-->

  </div><!--Fim de corpoSite-->

   <div class="telas">
      <img src="../img/telas.png" alt="Demonstração de telas" width="900px">
    </div><!--Fim de telas-->

  <script src="../js/login.js"></script>
</body>
</html>