<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drove Rotas - Login</title>
  <link rel="stylesheet" href="../../static/css/login.css">
</head>
<body>

    <div class="bandeirinhas">
      <a href="index.html"><img src="../img/brazil.png" alt="Bandeira do Brasil" width="35px"></a>
      <a href="loginEng.html"><img src="../img/usa.png" alt="Bandeira do  Estados Unidos" width="35px"></a>
       <a href="#"><img src="../img/espanha.png" alt="Bandeira da Espanha" width="35px"></a>
    </div><!--Fim bandeirinhas-->

  <div class="corpoSite">
    <div class="Logo">
      <a href="index.html">
      <img src="../img/Logo horizontal(fundo tranparente).png" alt="Logo Drove Rotas" width="300px">
      </a>
    </div>

    
    <div class="Form">

      <h1>Access your account:</h1>
      <h2>Manage your routes, trips, and data quickly and securely.</h2>
      <form id="loginForm">
       
        <input type="text" id="email" placeholder="E-mail" required>
       
        <input type="password" id="senha" placeholder="Password" required>
       
        
        <button type="submit" class="entrar">Enter</button>
      </form>
      <!--O "type="submit" serve para enviar o formulário, ele coleta as informações digitadas, por exemplo: a senha e o e-mail do usuário."-->
      
      <a href="recuperarSenha.html">Forgot your password?</a>
      
    </div><!--Fim de form-->

    <div class="criarConta"><a href="#" class="criarConta">Create an account</a></div><!--Fim criar conta-->

    <div class="entregas"><img src="../img/Truck.png" class="caminhao"><a href="#" class="entregasLogin">Drove Rotas for delivery drivers</a></div><!--Fim entregas-->

  </div><!--Fim de corpoSite-->

   <div class="telas">
      <img src="../img/telas.png" alt="Demonstração de telas" width="900px">
    </div><!--Fim de telas-->

  <script src="/static/js/login.js"></script>
</body>
</html>