<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drove Rotas|Recuperar Senha|Ajuda</title>
    <link rel="stylesheet" href="../../static/css/recuperarSenha.css">
</head>
<body>
    <div class="topo">

        <div class="logoHorizontal"><a href="index.html"><img src="../img/Logo horizontal(fundo tranparente).png" width="200px"></a></div><!--Fim logoHorizontal-->

        <div class="formTopo">

        <form id="formTop">
        <input type="text" id="email" placeholder="E-mail" required>
        <input type="password" id="senha" placeholder="Senha" required>
        <button type="submit" class="entrar">Entrar</button>
       </form>

      </div><!--Fim formLogin-->

    <div class="bandeirinhas">
      <a href="recuperarSenha.html"><img src="../img/brazil.png" alt="Bandeira do Brasil" width="35px"></a>
      <a href="#"><img src="../img/usa.png" alt="Bandeira do  Estados Unidos" width="35px"></a>
       <a href="#"><img src="../img/espanha.png" alt="Bandeira da Espanha" width="35px"></a>
    </div><!--Fim bandeirinhas-->
    </div><!--Fim topo-->
    <div class="container">
        <div class="recuperarSenha">
    <h1>Esqueceu sua senha?</h1>
    <form class="formSenha">
      <input type="email" placeholder="Digite seu e-mail" required>
      <button type="submit">Enviar link de recuperação</button>
    </form>
    </div><!--Fim recuperarSenha-->
  </div><!--Fim container-->

    <footer>
    <p>
      Ainda não conseguiu? Visite a 
      <a href="central-ajuda.html">central de ajudas</a> para mais informações.
    </p>
  </footer>

</body>
</html>