<#include "layouts/header.html">
            <div class="container-sm">
                <div class="row">
                    <div class="col">
                        <img src="img/Painel de Controle Logistica_Layout.png" class="img-fluid rounded"  alt="Imagem" title="Drove Rota">
                    
                    </div>
                    <div class="col">
                        <h2 class="mt-5">Organizar embarques ou entregas nunca foi tão fácil!</h2>
                        <p class="mt-5">
                            Nosso aplicativo foi desenvolvido para empresas que precisam realizar transportes, seja de pessoas ou produtos. Otimizando a logistica, economizando tempo e oferecendo uma experiencia prática e objetiva aos seus negócios.
                        </p>
                    </div>
                    
                </div>
            </div><!--Fim Container-->

            <div class="container-sm text-center">
                <h2 class="mt-5">Como Funciona?</h2>
                <p class="mt-5">
                    <strong>Painel de logistica:</strong> A equipe acompanha todas as reservas em um só lugar, organiza rotas e atualiza o status dos embarques em tempo real.
                </p>
                <p>
                    <strong>Acesso do Motorista:</strong> Cada motorista recebe sua lista de passageiros de forma automática, com horário e loval de embarque, reduzindo falhas e atrasos.
                </p>
                <p class="mb-5">
                    <strong>Comunicação com o cliente:</strong> O passageiro recebe informações claras e rápidas sobre seu embarque, garantindo mais confiança e comodidade.
                </p>
            </div>

            <!--Início Carousel-->

            
            <div id="carouselTexto" class= "carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner text-center p-5 ">
                <div class="carousel-item active">
                <h2 class="mb-3">Bem-vindo à Drove Rotas</h2>
                <p>Conectamos tecnologia e mobilidade para transformar sua jornada.</p>
                </div>
                <div class="carousel-item">
                <h2 class="mb-3">Soluções Inteligentes</h2>
                <p>Rotas otimizadas, economia de tempo e mais segurança para você.</p>
                </div>
                <div class="carousel-item">
                <h2 class="mb-3">Experiência Personalizada</h2>
                <p>Descubra como a Drove Rotas pode se adaptar ao seu estilo de vida.</p>
                </div>
            </div>

            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTexto" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTexto" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
            </div>

            <!--Fim Carousel-->




            <!--Quem Somos -->
            <div class="container-sm mt-5" id="sobre">
                <h2 class="text-center">Quem Somos</h2>
                <p class="mt-5">Somos um grupo de cinco estudantes apaixonados por tecnologia e inovação, atualmente cursando Programação Full Stack no Senac RJ – unidade Campo Grande. Este projeto é fruto do nosso Projeto Integrador, onde colocamos em prática tudo o que aprendemos ao longo do curso.</p>

                <p>Mais do que uma atividade acadêmica, este trabalho representa nosso compromisso com o desenvolvimento de soluções criativas, funcionais e voltadas para o mundo real. Cada linha de código aqui carrega nossa dedicação, aprendizado e vontade de crescer como profissionais da área de tecnologia.</p>

                <p>Estamos construindo juntos, com colaboração, curiosidade e muito café! E este é só o começo da nossa jornada como futuros desenvolvedores full stack!</p>

            </div>
            <!--Fim Quem Somos-->




            <!--Aidicionar aqui um formulário-->
            
            <form class="container mt-5" style="max-width: 600px;">
            <h2 class="mb-4 text-center">Fale com a gente</h2>

            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Seu nome completo" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="seuemail@exemplo.com" required>
            </div>

            <div class="mb-3">
                <label for="mensagem" class="form-label">Mensagem</label>
                <textarea class="form-control" id="mensagem" rows="5" placeholder="Escreva sua mensagem aqui..." required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
            </form>

            <!--Fim Formulário-->

<#include "layouts/footer.html">



